In [4]:
#---PREPROCESADO
import pandas as pd
df = pd.read_csv('./titanic_ml.csv')
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Sex_num
0           0       3    1  22.0      1      0   7.2500         2        1
1           1       1    0  38.0      1      0  71.2833         0        0
2           1       3    0  26.0      0      0   7.9250         2        0
3           1       1    0  35.0      1      0  53.1000         2        0
4           0       3    1  35.0      0      0   8.0500         2        1
..        ...     ...  ...   ...    ...    ...      ...       ...      ...
707         0       3    0  39.0      0      5  29.1250         1        0
708         0       2    1  27.0      0      0  13.0000         2        1
709         1       1    0  19.0      0      0  30.0000         2        0
710         1       1    1  26.0      0      0  30.0000         0        1
711         0       3    1  32.0      0      0   7.7500         1        1

[712 rows x 9 columns]

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

def split_label(df, test_size, label):
    train, test = train_test_split(df, test_size=test_size)
    features = df.columns.drop(label)
    train_x = train[features]
    train_y = train[label]
    test_x = test[features]
    test_y = test[label]
    return train_x, train_y, test_x, test_y

train_x, train_y, test_x, test_y = split_label(df, 0.2, 'Survived')


ohe = ColumnTransformer([('embarked_ohe', OneHotEncoder(categories='auto'), ['Embarked'])], remainder='passthrough')
train_x_1 = ohe.fit_transform(train_x)

min_max_scaler = MinMaxScaler()
train_x_2 = min_max_scaler.fit_transform(train_x_1)

for i in range(3):
    print(train_x_2[i])

[0.         0.         1.         1.         0.         0.48264984
 0.2        0.83333333 0.06104473 0.        ]
[0.         0.         1.         0.5        0.         0.29337539
 0.4        0.5        0.03659756 0.        ]
[0.         0.         1.         1.         1.         0.44479495
 0.2        0.16666667 0.04713766 1.        ]

In [6]:
# CLASIFICACION

In [7]:
from sklearn.svm import SVC

clf = SVC()
clf.fit(train_x_2, train_y)

test_x_2 = min_max_scaler.transform(ohe.transform(test_x))
clf.predict(test_x_2)

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1], dtype=int64)

In [8]:
clf.score(test_x_2, test_y)

0.7902097902097902

In [9]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
clf.fit(train_x_2, train_y)
clf.score(test_x_2, test_y)

0.7832167832167832

In [10]:
#----REGRESION

In [11]:
train_x, train_y, test_x, test_y = split_label(df, 0.2, 'Fare')


index_Embarked = train_x.columns.get_loc('Embarked')
ohe = ColumnTransformer([('embarked_ohe', OneHotEncoder(categories='auto'), ['Embarked'])], remainder='passthrough')
train_x_1 = ohe.fit_transform(train_x)

min_max_scaler = MinMaxScaler()
train_x_2 = min_max_scaler.fit_transform(train_x_1)
test_x_2 = min_max_scaler.transform(ohe.transform(test_x))

In [12]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(train_x_2, train_y)
reg.score(test_x_2, test_y)

0.2905882483433285

In [13]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

pred = reg.predict(test_x_2)
mean_squared_error(test_y, pred)

2432.053969361189

In [14]:
mean_absolute_error(test_y, pred)

25.813459440559438

In [15]:
# ---- ANALISIS DE GRUPOS

In [18]:
index_Embarked = df.columns.get_loc('Embarked')
ohe = ColumnTransformer([('embarked_ohe', OneHotEncoder(categories='auto'), ['Embarked'])], remainder='passthrough')
titanic_1 = ohe.fit_transform(df)
min_max_scaler = MinMaxScaler()
titanic_2 = min_max_scaler.fit_transform(titanic_1)

In [19]:
from sklearn.cluster import KMeans
clu = KMeans(n_clusters=3)
clu.fit(titanic_2)
clu.cluster_centers_

array([[-1.94289029e-16,  4.16666667e-02,  9.58333333e-01,
         1.79687500e-01,  7.12239583e-01,  1.00000000e+00,
         3.75701927e-01,  9.27083333e-02,  4.34027778e-02,
         4.24449926e-02,  1.00000000e+00],
       [ 1.00000000e+00,  6.93889390e-18,  6.66133815e-16,
         6.07692308e-01,  3.73076923e-01,  5.30769231e-01,
         3.81939799e-01,  8.46153846e-02,  6.92307692e-02,
         1.33306411e-01,  5.30769231e-01],
       [-1.94289029e-16,  6.06060606e-02,  9.39393939e-01,
         7.07070707e-01,  6.03535354e-01,  4.44089210e-16,
         3.41048078e-01,  1.34343434e-01,  1.29629630e-01,
         7.27802307e-02,  4.44089210e-16]])

In [20]:
clu.labels_

array([0, 1, 2, 2, 0, 0, 0, 2, 1, 2, 2, 0, 0, 2, 2, 0, 2, 0, 0, 2, 0, 2,
       2, 0, 1, 0, 1, 0, 0, 2, 1, 2, 2, 1, 2, 2, 0, 0, 1, 2, 1, 2, 1, 2,
       0, 1, 0, 0, 2, 0, 2, 0, 0, 2, 0, 1, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0,
       2, 0, 0, 0, 0, 0, 0, 1, 1, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 1, 0, 2,
       1, 0, 0, 0, 1, 2, 0, 1, 2, 0, 1, 0, 0, 1, 0, 2, 2, 0, 1, 2, 0, 0,
       1, 2, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 1, 2, 0, 0, 2, 0, 0, 0,
       0, 2, 0, 0, 0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 2, 0,
       1, 1, 0, 2, 0, 0, 1, 0, 2, 0, 1, 2, 1, 0, 2, 0, 0, 1, 2, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 1, 0, 2,
       2, 0, 0, 2, 0, 0, 2, 1, 2, 1, 2, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 1,
       2, 2, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 2, 2, 1, 1, 2, 0, 1, 2, 1, 0,
       0, 1, 1, 1, 1, 1, 2, 0, 0, 2, 2, 0, 2, 1, 0, 0, 2, 2, 1, 0, 2, 2,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 0, 0, 1, 0, 0, 2,
       2, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 2, 2, 1, 1, 0, 1, 1, 0, 2, 0,
       0, 2, 1, 0, 0, 0, 1, 2, 0, 2, 0, 0, 2, 0, 0, 2, 0, 2, 0, 0, 0, 0,
       2, 0, 2, 2, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 2, 0, 0, 2, 2, 2, 0, 0,
       2, 0, 0, 2, 0, 2, 0, 1, 0, 0, 1, 1, 1, 0, 2, 0, 0, 0, 0, 0, 0, 1,
       0, 2, 1, 2, 0, 0, 0, 2, 0, 0, 2, 1, 2, 1, 0, 0, 0, 0, 1, 0, 1, 2,
       0, 0, 2, 2, 2, 1, 2, 0, 0, 0, 0, 1, 0, 0, 2, 2, 0, 2, 0, 1, 0, 2,
       0, 0, 2, 1, 2, 2, 0, 1, 1, 2, 2, 2, 0, 1, 0, 2, 0, 0, 1, 0, 1, 2,
       0, 1, 2, 2, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 1, 0, 1,
       2, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 0, 1, 2, 2, 0, 2,
       0, 2, 2, 0, 1, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 1, 2, 2, 0, 0, 2, 0,
       1, 2, 1, 1, 0, 1, 2, 2, 0, 2, 0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       2, 0, 0, 0, 0, 0, 2, 2, 1, 1, 0, 0, 0, 1, 0, 0, 0, 2, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 2, 0, 2, 1, 0, 0, 0, 0, 1, 2, 0, 2,
       0, 0, 0, 0, 0, 2, 0, 2, 2, 1, 0, 0, 0, 2, 1, 0, 1, 0, 0, 0, 0, 2,
       0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 1, 2, 0, 2, 2, 0, 0, 0, 2,
       2, 0, 2, 2, 1, 2, 0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 2, 2, 1, 2, 0, 2,
       0, 1, 0, 0, 0, 2, 0, 2, 0, 0, 0, 2, 0, 2, 1, 0, 0, 2, 0, 0, 2, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 2, 2, 2,
       2, 0, 1, 0, 0, 2, 0, 2, 1, 0, 0, 0, 2, 0, 0, 1, 1, 0, 0, 1, 2, 0,
       2, 0, 0, 2, 0, 2, 1, 0])

In [21]:
from sklearn.metrics import silhouette_score, calinski_harabasz_score

silhouette_score(titanic_2, clu.labels_)

0.4615548686309761

In [22]:
calinski_harabasz_score(titanic_2, clu.labels_)

434.3353255266315